contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
linkify-it-py==2.0.3
logging==0.4.9.6
markdown-it-py==3.0.0
matplotlib==3.9.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
numpy==2.0.1
packaging==24.1
pillow==10.4.0
pygame==2.6.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
rich==13.7.1
six==1.16.0
textual==0.75.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
